.blogsTab{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, orange, rgb(166, 255, 0));
    h1{
        font-size: 2rem;
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
    }
}