.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../public/spinningWheelBg.jpg');
    background-size: cover;
}

.page > h1{
    display: inline-block;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 800;
    background-color: white;
    text-align: center;
    margin: 0;
}

.modalHead{
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 1.5rem;
    padding: 0px;
    margin: 0;
    border-radius: 10px;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.modalAd{
    width: 100%;
    height: 95%;
    padding: 10px;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}

.container>div:nth-child(1){
    position: relative;
    left: 4px;
    z-index: 2;
    margin-bottom: -45px;
}

@keyframes spin0 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(2916deg) }
}

@keyframes spin1 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(2988deg) }
}

@keyframes spin2 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(3060deg) }
}

@keyframes spin3 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(3132deg) }
}

@keyframes spin4 {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(3204deg) }
}

/* animation-name: $animationName;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
